In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import alpha_vantage as av

In [16]:
ticker = "AAPL"

# get a long history of data for the ticker
start = "2015-01-01"
end = "2025-10-01"

data = yf.download(ticker, start, end, interval="15m")

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AAPL']: YFPricesMissingError('possibly delisted; no price data found  (15m 2015-01-01 -> 2025-10-01) (Yahoo error = "15m data not available for startTime=1420088400 and endTime=1759291200. The requested range must be within the last 60 days.")')

In [14]:
# print first and time of 2025-10-01
print(data.loc["2025-10-01"].first_valid_index())
print(data.loc["2025-10-01"].last_valid_index())

2025-10-01 13:30:00+00:00
2025-10-01 19:55:00+00:00

In [30]:
from alpha_vantage.timeseries import TimeSeries

API_KEY = "W6Y3L1L2N1I4XKZD"

ticker = "SPY"

# get max history 5m period from alpha vantage
ts = TimeSeries(key=API_KEY, output_format="pandas")
#data1, _ = ts.get_intraday(ticker,  month="2025-10")
#data2, _ = ts.get_intraday(ticker,  month="2025-09", outputsize="full")
data3, _ = ts.get_intraday(ticker,  month="2025-08", outputsize="full", interval="5min")

In [31]:
data3

                      1. open   2. high    3. low  4. close  5. volume
date
2025-08-29 20:00:00  643.2752  643.2752  643.2752  643.2752  1525119.0
2025-08-29 19:55:00  643.1755  643.2553  643.1456  643.2353    14012.0
2025-08-29 19:50:00  643.2253  643.2254  643.0957  643.1456     5661.0
2025-08-29 19:45:00  643.1955  643.2553  643.1655  643.2004      891.0
2025-08-29 19:40:00  643.2254  643.2952  643.1556  643.2254     4737.0
...                       ...       ...       ...       ...        ...
2025-08-01 04:20:00  625.8633  625.8732  625.3846  625.5741     9685.0
2025-08-01 04:15:00  625.5442  626.1425  625.5442  625.8633    30537.0
2025-08-01 04:10:00  625.6439  625.7536  625.2550  625.6140    48347.0
2025-08-01 04:05:00  625.6439  625.8234  625.4345  625.6040    75745.0
2025-08-01 04:00:00  628.0971  628.0971  625.4444  625.6539    19397.0

[4053 rows x 5 columns]